body {
    margin: 0;
    background-color: rgb(119, 117, 117);
}

h1, h2, h3, h4, p, li, article, a {
    font-family: 'Architects Daughter', candara, copperplate, 'Lucida Sans', sans-serif;
    color: rgb(212, 248, 219);
}

p, article {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

div {
    width: 500px;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 20px 20px 25px 20px;
}

a:link {
    color:rgb(166, 208, 255);
}

a:visited {
    color:rgb(252, 184, 225);
}

a:hover {
    color:rgb(241, 224, 168)
}

a:active {
    color:rgb(212, 248, 219)
}

.wrapper {
    width: 70%;
    margin: auto;
}

.wrap {
    width: 40%;
    margin: auto;
}

img {
    border-radius: 50%;
}

a, ul > li {
    font-size: 20px;
}